<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Huge amounts of games, huge amounts of e-pen">
    <meta name="author" content="Esportswatcher Crew">

    <title>EsportsWatcher Inc</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">*@
    <link href="~/css/MainStyleSheet.css" rel="stylesheet" />
    <link href="~/css/1-col-portfolio.css" rel="stylesheet" />
    <link href="~/css/JohansCSS.css" rel="stylesheet" />
    <link href="~/css/LuddesCss.css" rel="stylesheet" />

</head>

<body>
    
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container" id="navContainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="~/img/ewatchlogotrans2.png" /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul id="box" class="nav navbar-nav">
                    @if (ViewBag.active == "GameList")
                    {
                        <li class="active"><a href="/user/gamelist/">Games</a></li>
                    }
                    else
                    {
                        <li><a href="/user/GameList">Games</a></li>
                    }
                    @if (ViewBag.active == "Tournaments")
                    {
                        <li class="active"><a href="/user/gamelist/">Tournaments</a></li>
                    }
                    else
                    {
                        <li><a href="GameList">Tournaments</a></li>
                    }
                    @if (ViewBag.active == "Streams")
                    {
                        <li class="active"><a href="#">Streams</a></li>
                    }
                    else
                    {
                        <li><a href="GameList">Streams</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.active == "Profile")
                    {
                        <li class="active"><a href="/user/profile/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    }
                    else
                    {
                        <li><a href="/user/profile/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    }

                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <br />
        <br />
        @RenderBody()
        <br />
    </div>
    <footer class="py-5 bg-dark" style="background-color: black">
        <div class="container-fluid">
            <p class="m-0 text-center">Copyright &copy; Esportswatcher Crew 2017</p>
        </div>
    </footer>

    <script src="https://use.fontawesome.com/527085a8f1.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>