<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Huge amounts of games, huge amounts of e-pen">
    <meta name="author" content="Esportswatcher Crew">

    <title>EsportsWatcher Inc</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/css/MainStyleSheet.css" rel="stylesheet" />
    <link href="~/css/1-col-portfolio.css" rel="stylesheet" />
    <link href="~/css/JohansCSS.css" rel="stylesheet" />
    
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet">*@

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EsportsWatcher</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Games</a></li>
                    <li><a href="#">Tournaments</a></li>
                    <li><a href="#">Streams</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav> 


        <div class="container">



            <h1 class="my-4">
                Esportswatcher
                <small>Awesome Sauce</small>
            </h1>

            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0 bigImage " src="~/img/csgo.jpg" alt=""> <span class="fa fa-upload fa-5x"></span>
                        


</a>

                </div>
                <div class="col-md-5">
                    <h3>Counter-Strike: Global Offensive</h3>
                    <p>Counter-Strike: Global Offensive is not exactly a sequel, but rather a refinement of what is regarded by many people as the best competitive online FPS ever made. It's a fantastic update to a genuine classic, and essential gaming for Windows and Mac.</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0 bigImage" src="~/img/pubg.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>PLAYERUNKNOWN's Battlegrounds</h3>
                    <p>
                        Our BATTLE ROYALE game-mode will put up to 100 players on a remote island
                        for a winner-takes-allshowdown where strategic gameplay is as important as shooting skills.
                        Players will enter a last-man-standing battle where they try to locate weapons, vehicles and supplies in a graphically and tactically rich battleground
                        that eventually forces players into a shrinking play zone as they engage in a tense and spectacular fight to the death.
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0 bigImage" src="~/img/lol.png" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>League of Legends</h3>
                    <p>League of Legends is a fast-paced, competitive online game that blends the speed and intensity of an RTS with RPG elements. Two teams of powerful champions, each with a unique design and playstyle, battle head-to-head across multiple battlefields and game modes. With an ever-expanding roster of champions, frequent updates and a thriving tournament scene, League of Legends offers endless replayability for players of every skill level.</p>
                </div>
            </div>

            <hr>

            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>

        </div>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Esportswatcher Crew 2017</p>
            </div>
        </footer>
        <script src="https://use.fontawesome.com/527085a8f1.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
</body>

</html>