<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/css/LuddesCss.css" rel="stylesheet" />
</head>
<body>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EsportsWatcher</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Games</a></li>
                    <li><a href="#">Tournaments</a></li>
                    <li><a href="#">Streams</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="followedContainer">
            <ul id="box" class="list-group">
                <li style="background-color: black; color:white;" class="list-group-item list-group-item-success">Followed games</li>


                <li id="boxInBox" class="list-group-item"><img id="logo" src="~/img/pubg-logo1.png" />Playerunknown's battlegrounds <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                <li id="boxInBox" class="list-group-item">
                    <img id="logo" src="~/img/League-of-Legends-Logo-Transparent-Background.png" /> League of legends <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                </li>
            </ul>
        </div>

        <div id="ongoingContainer">
            <ul id="box" class="list-group">
                <li style="background-color: black; color:white;" class="list-group-item list-group-item-success"><h1>Ongoing tournaments</h1></li>


                <li id="boxInBox" class="list-group-item"><img id="logo" src="~/img/League-of-Legends-Logo-Transparent-Background.png" /> Worlds quarter finals <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                <li id="boxInBox" class="list-group-item">
                    <img id="logo" src="~/img/csgo-logo.png" />Eleague season 7 Play-Ins  <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                    </
            </ul>
        </div>

        <div id="upcomingContainer">
            <ul id="box" class="list-group">
                <li style="background-color: black; color:white;" class="list-group-item list-group-item-success">Upcoming tournaments</li>


                <li id="boxInBox" class="list-group-item"><img id="logo" src="~/img/pubg-logo1.png" />  Twitchcon invitational  10/11-17 <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                <li id="boxInBox" class="list-group-item">
                    <img id="logo" src="~/img/League-of-Legends-Logo-Transparent-Background.png" /> Lcs season 8 16/2-18 <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                </li>
            </ul>
        </div>

        <div id="previousContainer">
            <ul id="box" class="list-group">
                <li style="background-color: black; color:white;" class="list-group-item list-group-item-success">Previous tournaments</li>


                <li id="boxInBox" class="list-group-item"><img id="logo" src="~/img/csgo-logo.png" /> Pgl championship 25/9-17 <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                <li id="boxInBox" class="list-group-item">
                    <img id="logo" src="~/img/League-of-Legends-Logo-Transparent-Background.png" /> Lcs season 7 16/9-17 <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                </li>

            </ul>
        </div>
    </div>
</body>
</html>