
             
                 <h3 class="text-center m-5">Profile page</h3>
            
             
        

        <div class="row mt-3">

            <div class="col mx-5">
                
                    <ul  class="list-group">
                        <li style="background-color: black; color:white;" class="list-group-item list-group-item-success"><h3>Previous tournaments</h3></li>


                        <li  class="list-group-item"><img class="miniLogo" src="~/img/csgo-logo.png" alt="A picture showing the Counter-Strike: Global Offensive logo" /> Pgl championship 25/9-17 <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                        <li  class="list-group-item">
                            <img class="miniLogo" src="~/img/League-of-Legends-Logo-Transparent-Background.png" alt="A picture showing the League of Legends logo" /> Lcs season 7 16/9-17 <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                        </li>

                    </ul>
               
            </div>

            <div class="col mx-5">
                
                    <ul class="list-group">
                        <li style="background-color: black; color:white;" class="list-group-item list-group-item-success"><h3>Ongoing tournaments</h3></li>


                        <li class="list-group-item"><img class="miniLogo" src="~/img/league-of-legends-logo-transparent-background.png" alt="A picture showing the League of Legends logo" /> Worlds quarter finals <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                        <li  class="list-group-item">
                            <img class="miniLogo" src="~/img/csgo-logo.png" alt="A picture showing the Counter-Strike: Global Offensive logo" />Eleague season 7 play-ins  <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                            
                    </ul>
                
            </div>

        </div>

        <div class="row mt-5">
            <div class="col mx-5">
                
                    <ul  class="list-group">
                        <li style="background-color: black; color:white;" class="list-group-item list-group-item-success"><h3>Followed games</h3></li>

                        
                        <li class="list-group-item"><img class="miniLogo" src="~/img/pubg-logo1.png" alt="A picture showing the PLAYERUNKNOWN's Battleground logo" />Playerunknown's battlegrounds <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                        <li  class="list-group-item">
                            <img class="miniLogo" src="~/img/League-of-Legends-Logo-Transparent-Background.png" alt="A picture showing the League of Legends logo" /> League of legends <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                        </li>
                    </ul>
              
               
            </div>

            <div class="col mx-5">
               
                    <ul  class="list-group">
                        <li style="background-color: black; color:white;" class="list-group-item list-group-item-success"><h3>Upcoming tournaments</h3></li>


                        <li  class="list-group-item"><img class="miniLogo" src="~/img/pubg-logo1.png" alt="A picture showing the PLAYERUNKNOWN's Battleground logo" />  Twitchcon invitational  10/11-17 <span style="color:red;" class="glyphicon glyphicon-minus"></span></li>
                        <li  class="list-group-item">
                            <img class="miniLogo" src="~/img/League-of-Legends-Logo-Transparent-Background.png" alt="A picture showing the League of Legends logo" /> Lcs season 8 16/2-18 <span style="color:red;" class="glyphicon glyphicon-minus"></span>
                        </li>
                    </ul>
               

            </div>
        </div>
       

        

        
        

