




    .miniLogo {
        height:100px;
        width: 100px;
        
        
    }

    /*#box {
        width: 580px;
        height: 50px;
    }
    #boxInBox{
        width: 580px;
        height: 100px;
        
    }*/