#mainContainer {
    position: relative;
}


#userContainer {
    position: absolute;
    top: 80px;
   right: 50%
}
#upcomingContainer {
    position: absolute;
    top: 520px;
    left: 20%;
}

#previousContainer {
    position: absolute;
    top: 520px;
    right: 15%;
    
}


#ongoingContainer {
    position: absolute;
    top: 300px;
    right: 15%;
}
#followedContainer {
    position: absolute;
    top: 300px;
    left: 20%;
}


    #first #second {
        position: relative;
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 25%;
        background: green;
    }

    #logo {
        position:relative;
        width: 15%;
        height:15%;
        
    }